* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: gray;
  align-items: center;
  justify-content: center;
}

.box {
  color: white;
  padding: 20px;
  font-size: 40px;
  display: flex;
  align-items: stretch;
  align-items: center;
}

.box-1 {
  background-color: rgb(213, 5, 88);
}
.box-2 {
  background-color: purple;
}

.box-3 {
  background-color: violet;
}

.box-4 {
  background-color: blue;
}

.box-5 {
  background-color: rgb(2, 137, 255);
}
.box-6 {
  background-color: green;
}
.box-7 {
  background-color: yellowgreen;
}
.box-8 {
  background-color: yellow;
}
.box-9 {
  background-color: orange;
}
.box-10 {
  background-color: orangered;
}

.container-1 {
  border: 2px solid red;
  margin: 50px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: stretch;
}

.container-2 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
}
.container-2 .box {
  height: 200px;
}
.container-2 .box-4 {
  font-size: 200px;
  align-items: baseline;
}

.container-3 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: baseline;
}
.container-3 .box-3 {
  font-size: 10px;
  background-color: palevioletred;
}
.container-3 .box-5 {
  font-size: 70px;
  background-color: rgb(2, 137, 255);
}
.container-3 .box-7 {
  font-size: 10px;
  background-color: yellowgreen;
}
.container-3 .box-8 {
  font-size: 100px;
  background-color: yellow;
}

.container-4 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: start;
}

.container-5 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: center;
}

.container-6 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: end;
}

.container-7 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: stretch;
  position: relative;
}

.container-7 .box-3 {
  align-self: flex-start;
  background-color: pink;
}

.container-8 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: stretch;
}

.container-8 .box-3 {
  align-self: center;
  background-color: pink;
  height: 80px;
}

.container-9 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: stretch;
}

.container-9 .box-3 {
  height: 80px;
  background-color: pink;
  align-self: flex-end;
}

.container-10 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: center;
}

.container-10 .box-3 {
  background-color: pink;
  align-self: stretch;
}

.container-11 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: stretch;
}

.container-11 .box-3 {
  background-color: pink;
  align-self: baseline;
}
.container-11 .box-4 {
  background-color: blue;
  align-self: baseline;
  font-size: 80px;
}
.container-11 .box-5 {
  background-color: rgb(2, 137, 255);
  align-self: baseline;
}

.container-12 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: stretch;
}

.container-13 {
  border: 2px solid red;
  margin: 20px auto;
  width: 600px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 700px;
  align-content: flex-start;
}

.container-13 .box {
  width: 33.3%;
}

.container-14 {
  border: 2px solid red;
  margin: 20px auto;
  width: 600px;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.container-14 .box {
  width: 33.3%;
}

.container-15 {
  border: 2px solid red;
  margin: 20px auto;
  width: 600px;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}

.container-15 .box {
  width: 33.3%;
}

.container-16 {
  border: 2px solid red;
  margin: 20px auto;
  width: 600px;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.container-16 .box {
  width: 33.3%;
}

.container-17 {
  border: 2px solid red;
  margin: 20px auto;
  width: 600px;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.container-17 .box {
  width: 33.3%;
}

.container-18 {
  border: 2px solid red;
  margin: 20px auto;
  width: 600px;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.container-18 .box {
  width: 33.3%;
}

.container-19 {
  border: 2px solid red;
  margin: 20px auto;
  width: 600px;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
}

.container-19 .box {
  width: 33.3%;
}

.container-20 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  background-color: black;
  display: flex;
  justify-content: start;
}

.container-21 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.container-22 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  background-color: black;
  display: flex;
  justify-content: end;
}

.container-23 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.container-24 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.container-25 {
  border: 2px solid red;
  margin: 20px auto;
  width: 960px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}
