*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
html{
    font-size: 62.5%;

}
body{
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: black;
}

.container{
    max-width: 100rem;
    margin: 0 auto;
    
}
.navbar{
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}
.logo img{
    width: 2.9rem;
    height: 2.9rem;
}
.links{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 1rem;
    margin-left: 2rem;

}

.links a{
    margin: 2rem;
    font-weight: 700;

    width: max-content;
    height: 1rem;
    color: white;
    text-decoration: none;
    

}



.navbutton{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbutton button{
    border-radius: 15%;
    width: 6rem;
    height: 3rem;
}
.first{
    color: #ff6400;
    border: 0.1rem solid #ff6400 ;
    background-color: rgb(45, 43, 43);

}
.second{
    margin-right: 1rem;
    color: white;
    border: 0.1rem solid  rgb(45, 43, 43) ;
    background-color: rgb(45, 43, 43);

}

.language{
    border-radius: 15%;
    margin-right: 0.5rem;
    color: white;
    width: 3rem;
    height: 3rem;
    background-color:  rgb(45, 43, 43) ;
}
.language a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    border-radius: 15%;
    width: 3rem;
    height: 3rem;
    background-color:rgb(211, 206, 206) ;
}
.sun{
    font-size: 2rem;
    color: black;
}
.search{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

header{
    margin-top: 2rem;
    height: 4rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.menu{
    margin-left: 5rem;
    margin-left: 1rem;
    font-weight: 700;
}
.menu a{
    max-width: max-content;
    padding: 1rem;
    font-size: 1.5rem;
}

.headbar{

    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headbar a{
    text-decoration: none;
    color: white;
    width: max-content;

}

.alo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    border: 0.05rem solid white;
    width: 6rem;
    height: 3rem;
    border-radius: 40%;
    margin-right: 3rem;
}

.alo:hover{
    border: 1px solid #ff6400;
}
.alo i{
    font-size: 2rem ;
    color: #ff6400;


}

.alo p{
    color: white;
}


section{
    margin-top: 2rem;
    background-color: #000;
}
h2{
    margin-left: 1rem;
    font-size: 4rem;
    color: white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;


}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31rem;
    height: 30rem;
    border: 1px solid  rgb(45, 43, 43);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, .1);
    
}
h3{
    color: white;
    font-size: 2rem;
}

.card p{
    color: white;
    font-size: 1.5rem;
}
.card i{
    color:#ff6400;
    font-size: 15rem;
}

.card:hover{
    background-color: black;
    transition: 0.4s;
}
